<% provide(:title, "Contact") %> 
  <h1>Sample_App</h1>
  <p>
	Contact the <a href="http://www.railstutorial.org/#contact">Ruby on Rails Tutorial about the sample app</a> in the contact section.

    Find me in app/views/static_pages/contact.html.erb
  </p>
